<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
</head>
<body>
<h1>密码库解密页面</h1>

<table width="500" border="0">
    <tr>
        <div float="left" text-align="center">
            <td colspan="2" >
                上传表格附件:<input type="file" name="上传表格附件" /><br>
            </td>
        </div>
    </tr>
    <tr>
        <td colspan="2" >
            上传凭证附件:<input type="file" name="上传凭证附件"/><br>
        </td>
    </tr>
    <tr>
        <td colspan="2" >
            <button>提交</button>
        </td>
    </tr>
</table>

</body>
</html>